/* Efeitos de hover para as imagens dos cards */
.property-image-container {
  overflow: hidden;
  position: relative;
}

.property-image {
  transition: transform 0.5s ease;
}

/* Usa a estrutura do card para aplicar o efeito apenas no card atual */
.carousel-item:hover .property-image {
  transform: scale(1.15);
}